body { margin: 0 0 0 0;
padding: 0 0 0 0;}
p, h1, h2, h3, h4 { margin: 0 0 0 0;
padding: 15px 15px 15px 15px}
ul {margin-top: 0px;
margin-bottom: 0px;}
article, aside, details, dl, figcaption, figure, footer, header, main, nav, section
{display: block;}