header { grid-area: header;}
nav {grid-area: nav;}
nav ul {float: right;}
nav ul li {display: inline-block;}
main {grid-area: main;
width: 85%;
max-width: 1000px;
margin:auto;}

section {grid-area: section;}
footer {grid-area: footer;}

#layout {
    display:grid;
    grid-gap: 0px;
    grid-template-areas:
    "nav"
    "header"
    "section"
    "main"
    "footer"
}